* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf0e6;
    color: #333;
}


.container-page {
    padding: 0.3em;
    /* por esos 2 cambios esta rompiendo en celular arreglar proximamente */
    overflow: hidden;
}

header {
    align-self: start;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
}

.container-top-barra {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.container-barra-rigth button {
    background: #392f28;
    color: white;
    border: none;
    margin-right: 1em;
    padding: 0.5em 1.2em;
    border-radius: 1.5em;
    cursor: pointer;
    outline: none;
}

.container-barra-rigth {
    margin-right: 0.9em;
}

.container-barra-rigth a i {
    color: #a0643a;
    padding: 0.4em;
    margin-left: 0.2em;
    border: transparent;
    border-radius: 100%;
    box-shadow: 0px 0px 20px #a0643a38;
    font-size: 1.5em;
    transition: 9.1 ease-in-out;
}

.container-barra-rigth a i:hover {
    color: #7c5133;
    transform: rotate(360deg);
    scale: 1.3;
    transition: transform 0.4s ease-in-out;
}

.container-top-barra ul {
    display: flex;
    list-style: none;
}

.container-barra-media ul li a {
    color: #8f8783;
    font-size: 1.6em;
}

.container-barra-media ul li a i:hover {
    scale: 1.5;
    transform: rotate(360deg);
    transition: transform 0.4s ease-in-out;
}

.search {
    margin-left: 1.7em;
    color: white;
    font-size: 1.2em;
    border: none;
    background: #392f28;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    width: 95%;
    outline: none;
}

.container-barra-generos {
    margin-top: 20px;
}

.container-barra-generos a {
    color: #8f8783;
    font-size: 1em;
    margin-left: 2.8em;
}

.container-barra-generos a:hover {
    color: #bb8640;
}

.container-barra-generos ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li a {
    text-decoration: none;
    padding: 0 15px;
}

.title-generos,
.title-most-read h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bb8640;
    font-size: 2.1em;
    margin-left: 1.8em;
}

.container-barra-generos hr {
    margin-top: 0.5em;
}

.container-generos {
    margin-top: 0.9em;
    display: flex;
}

.container-content-generos {
    padding: 8px;
}

.container-content-generos p i {
    text-align: left;
    padding: 0 10px;
}

.container-content-generos img {
    width: 380px;
    border-radius: 1em;
    height: 200px;
}

.container-content-generos i {
    color: #bb8640;
}

.container-content-generos p {
    margin: 8px;
    text-align: left;
    color: #bb8640;
    font-weight: 500;
}

/* carrusel para el cambio */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    position: relative;
    width: 93%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.container-generos {
    overflow: hidden;
    width: 100%;
}

.container-content-generos {
    min-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.container-content-generos img {
    width: 100%;
    border-radius: 10px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.prev-btn {
    top: 120px;
    left: -50px;
    /* Ajusta la distancia del botón izquierdo */
}

.next-btn {
    right: -56px;
    /* Ajusta la distancia del botón derecho */
}

/* separador */

.prev-btn {
    color: #bb8640;
    cursor: pointer;
    padding: 5px;
    background: transparent;
    border: none;
    font-size: 40px;
}

.next-btn {
    color: #bb8640;
    cursor: pointer;
    padding: 5px;
    background: transparent;
    border: none;
    font-size: 40px;
}

.container-most-read {
    overflow: auto;
    display: flex;
    margin-left: 4.2em;
    margin-top: 1em;
    outline: none;
}

.container-most-read::-webkit-scrollbar {
    display: none;
}


.read {
    display: flex;
    flex-direction: column;
    background-color: #27201cc3;
    margin-right: 20px;
    border-radius: 0.5em;
    margin-bottom: 1em;
    text-align: center;
}

.read img {
    transition: transform 0.3s;
    width: 10.975em;
    height: 12.5em;
    border-radius: 0.5em;
}

.read img:hover {
    transform: scale(0.99);
}

.read p {
    margin-bottom: 0.3em;
    padding: 0px 0.8em;
    color: rgba(245, 245, 245, 0.948);
    text-align: left;
    margin-top: 0.5em;
    font-size: 0.8em;
}

.read span {
    margin-bottom: 0.9em;
    font-size: 0.8em;
    margin-top: 0.2em;
    color: #a8a8a8;
    text-shadow: #181411 0.4em 0.3em 0.5em;
    padding: 0px 0.8em;
    text-align: left;
}

.separar-button {
    justify-content: center;
    align-items: center;
    display: flex;
}

.read button {
    border-radius: 0.4em;
    margin: 0.2em;
    padding: 0.1em;
    align-self: center;
    width: 40%;
    margin-top: auto;
    border: 1px solid #262525;
    background-color: #181411;
    color: rgb(202, 202, 202);
    box-shadow: 0px 0px 5px 0px #605151;
    cursor: pointer;
}

.container-continuar-leyendo {
    margin-left: 4.2em;
    overflow: auto;
    margin-top: 1em;
}

.container-continuar-leyendo::-webkit-scrollbar {
    display: none;
}

.container-continuar-leyendo h3 {
    color: #bb8640;
    font-size: 1.8em;
    margin-bottom: 1em;
}

#continuar-leyendo {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-bottom: 2em;
}

.container-most-read {
    overflow: auto;
    display: flex;
    margin-left: 4.2em;
    margin-top: 1em;
    outline: none;
}

.container-most-read::-webkit-scrollbar {
    display: none;
}


/* /* Estilos generales para el modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background: #181411;
        color: white;
    }

    p,
    .read span {
        color: white;
    }

    .read {
        border-color: white;
    }

    .container-barra-generos a,
    .container-barra-media ul li a {
        color: #b9a89d;
    }

    .slider-btn {
        color: #b9a89d;
    }
}

/* Estilos generales para el modo claro */
@media (prefers-color-scheme: light) {
    body {
        background: #fdf0e6;
        color: #333;
    }

    p,
    .read span {
        color: #181411;
    }

    .read {
        border-color: #181411;
    }

    .container-barra-generos a,
    .container-barra-media ul li a {
        color: #8f8783;
    }

    .slider-btn {
        color: #bb8640;
    }
}

/* Estilos para dispositivos móviles en pantallas de 360x720px (Oppo A57) */

@media (max-width: 600px){
    .container-page{
        width: auto;
        overflow: hidden;
    }}
@media (max-width: 600px) {
    .container-page {
        padding: 0.1em;
    }

    .container-top-barra {
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .container-barra-media ul {
        font-size: 0.4em;
        padding: 0;
        margin: 0;
    }

    .container-barra-media ul li a {
        margin: 0;
        padding: 0 0.2em;
    }

    .container-barra-rigth {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-barra-rigth button {
        font-size: 0.6em;
        width: 8em;
        margin: 0.2em;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0.4em 0.1em 0.4em 0.1em;
    }

    .container-barra-rigth a i {
        font-size: 1.2em;
        margin: 0.2em;
        padding: 0;
    }

    .logo img {
        width: 4.3em;
    }

    .search {
        font-size: 0.6em;
        width: 90%;
    }

    .container-barra-generos li a {
        font-size: 0.8em;
        padding: 0 1em;
        margin: 0;
    }

    .title-generos {
        margin-left: 0.4em;
    }

    .title-generos h2 {
        font-size: 0.8em;
        margin-left: 0.3em;
        margin-top: 0.1em;
        padding: 0;
    }

    .slider-container {
        width: 93%;
        overflow: auto;
        font-size: 0.6em;
    }

    .container-generos {
        max-width: 100%;
    }

    .container-content-generos img {
        width: 9em;
        border-radius: 0.5em;
        height: 5.9em;
        margin: 0;
        padding: 0;
    }

    .container-content-generos {
        min-width: 10em;
        border-radius: 0em;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        padding: 0;
    }

    .container-content-generos p {
        width: 100%;
        text-align: left;
        margin-left: 0;
        padding-left: 0;
    }

    .container-content-generos p i {
        text-align: left;
        margin-left: 0.2em;
        margin-right: 0;
        padding: 0;
        padding-left: 0;
    }

    .title-most-read {
        margin-left: 1.3em;
    }

    .title-most-read h2 {
        font-size: 1.8em;
        margin-left: 0;
        margin-top: 0.1em;
        padding: 0;
    }

    .prev-btn {
        position: relative;
        top: 0px;
        width: auto;
        padding: 0;
        margin: 0.2em;
        z-index: 1;
        font-size: 1.701em;
        left: -3px;
        /* Ajusta la distancia del botón izquierdo */
    }

    .next-btn {
        padding: 0;
        margin: 0;
        top: 32px;
        font-size: 1.701em;
        right: -25px;
        /* Ajusta la distancia del botón derecho */
    }

    .container-most-read {
        width: 100%;
        overflow: auto;
        margin-left: 0;
        display: flex;
    }

    .read {
        display: flex;
        padding-bottom: 10px;
        margin-left: 0;
        margin: 0.5em;
        width: 6em;
    }

    .read img {
        width: 6em;
        height: 7.5em;
    }

    .read p {
        font-size: 0.6em;
        padding: 0 0.3em;
        margin: 0;
    }

    .read span {
        margin: 0s;
        font-size: 0.6em;
        padding: 0 0.3em;
    }

    .read button {
        font-size: 0.6em;
        width: 5em;
        margin: 0;
        padding: 0;
        align-self: center;
        margin-top: auto;
    }

    /* ////////////////// */
    .container-continuar-leyendo {
        margin-left: 0.9em;
        display: grid;
        width: 100%;
        overflow: auto;
    }

    .container-continuar-leyendo::-webkit-scrollbar {
        display: none;
    }

    /* Ocultar la barra de desplazamiento en otros navegadores */
    .container-continuar-leyendo {
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }
}