*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
*::-webkit-scrollbar{
    display: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf0e6;
    color: #333;
}


.container-page{
    /* por esos 2 cambios esta rompiendo en celular arreglar proximamente */
    overflow: hidden;
}
header{
    align-self: start;
    align-items: center;
}
.logo{
    margin: 0;
    padding: 0;
}
.container-top-barra{
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}
.container-barra-rigth button{
    background: #392f28;
    color: white;
    border: none;
    margin-right: 1em;
    padding: 0.5em 1.2em;
    border-radius: 1.5em;
    cursor: pointer;
    outline: none;
}
.container-barra-rigth{
    margin-right: 0.9em;
}
.container-barra-rigth a i{
    color: #a0643a;
    padding: 0.4em;
    margin-left: 0.2em;
    border: transparent;
    border-radius: 100%;
    box-shadow: 0px 0px 20px #a0643a38;
    font-size: 1.5em;
    transition: 9.1 ease-in-out;
}

.container-barra-rigth a i:hover{
    color: #7c5133;
    transform: rotate(360deg);
    scale: 1.3;
    transition: transform 0.4s ease-in-out;
}

.container-top-barra ul{
    display: flex;
    list-style: none;
}

.container-barra-media ul li a{
    color: #8f8783;
    font-size: 1.6em;
}
.container-barra-media ul li a i:hover{
    scale: 1.5;
    transform: rotate(360deg);
    transition: transform 0.4s ease-in-out;
}

ul li a{
    text-decoration: none;
    padding: 0 15px;
}


/* ///////// */


.container {
    padding: 2em;
    width: auto;
    background-color: #F5E0C9;
    display: flex;
}
.cart-items {
    width: 55em;
    padding-right: 20px;
}
.order-summary {
    flex: 1;
    background-color: #836460;
    padding: 20px;
    border-radius: 8px;
}
h1, h2 {
    margin-top: 0;
}
.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
}
.item-details h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
}
.item-details p {
    margin: 0;
    color: #666;
    font-size: 14px;
}
.quantity-control {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.quantity-btn {
    background-color: #f0f0f0;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
}
.quantity-display {
    padding: 0 10px;
}
.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.checkout-btn a{
    text-decoration: none;
    color: black;
}

.checkout-btn {
    background-color: #00a86b;
    color: black;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s ease-in-out;
}
.checkout-btn:hover{
    background-color: #00a86b;
    color: white;
    transform: scale(1.05);
}



.continue-btn {
    transition: 0.5s ease-in-out;
    background-color: #f0f0f0;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}
.continue-btn:hover{
    transform: scale(1.05);
}

@media (max-width: 600px){
    .container-page{
        width: auto;
        overflow: hidden;
    }}
@media (max-width: 600px) {
    .container-page {
        padding: 0.1em;
    }

    .container-top-barra {
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .container-barra-media ul {
        font-size: 0.4em;
        padding: 0;
        margin: 0;
    }

    .container-barra-media ul li a {
        margin: 0;
        padding: 0 0.2em;
    }

    .container-barra-rigth {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-barra-rigth button {
        font-size: 0.6em;
        width: 8em;
        margin: 0.2em;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0.4em 0.1em 0.4em 0.1em;
    }

    .container-barra-rigth a i {
        font-size: 1.2em;
        margin: 0.2em;
        padding: 0;
    }

    .logo img {
        width: 4em;
    }

    .search {
        font-size: 0.6em;
        width: 90%;
    }

    .container-barra-generos li a {
        font-size: 0.8em;
        padding: 0 1em;
        margin: 0;
    }

    .title-generos {
        margin-left: 0.4em;
    }

    .title-generos h2 {
        font-size: 0.8em;
        margin-left: 0.3em;
        margin-top: 0.1em;
        padding: 0;
    }

    .slider-container {
        width: 93%;
        overflow: auto;
        font-size: 0.6em;
    }

    .container-generos {
        max-width: 100%;
    }

    .container-content-generos img {
        width: 9em;
        border-radius: 0.5em;
        height: 5.9em;
        margin: 0;
        padding: 0;
    }

    .container-content-generos {
        min-width: 10em;
        border-radius: 0em;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        padding: 0;
    }

    .container-content-generos p {
        width: 100%;
        text-align: left;
        margin-left: 0;
        padding-left: 0;
    }

    .container-content-generos p i {
        text-align: left;
        margin-left: 0.2em;
        margin-right: 0;
        padding: 0;
        padding-left: 0;
    }

    .title-most-read {
        margin-left: 1.3em;
    }

    .title-most-read h2 {
        font-size: 1.8em;
        margin-left: 0;
        margin-top: 0.1em;
        padding: 0;
    }

    .prev-btn {
        position: relative;
        top: 0px;
        width: auto;
        padding: 0;
        margin: 0.2em;
        z-index: 1;
        font-size: 1.701em;
        left: -3px;
        /* Ajusta la distancia del botón izquierdo */
    }

    .next-btn {
        padding: 0;
        margin: 0;
        top: 32px;
        font-size: 1.701em;
        right: -25px;
        /* Ajusta la distancia del botón derecho */
    }

    .container-most-read {
        width: 100%;
        overflow: auto;
        margin-left: 0;
        display: flex;
    }

    .read {
        display: flex;
        padding-bottom: 10px;
        margin-left: 0;
        margin: 0.5em;
        width: 6em;
    }

    .read img {
        width: 6em;
        height: 7.5em;
    }

    .read p {
        font-size: 0.6em;
        padding: 0 0.3em;
        margin: 0;
    }

    .read span {
        margin: 0s;
        font-size: 0.6em;
        padding: 0 0.3em;
    }

    .read button {
        font-size: 0.6em;
        width: 5em;
        margin: 0;
        padding: 0;
        align-self: center;
        margin-top: auto;
    }

    /* ////////////////// */
    .container-continuar-leyendo {
        margin-left: 0.9em;
        display: grid;
        width: 100%;
        overflow: auto;
    }

    .container-continuar-leyendo::-webkit-scrollbar {
        display: none;
    }

    /* Ocultar la barra de desplazamiento en otros navegadores */
    .container-continuar-leyendo {
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }
}